## 1. Import Pandas

Let's start by importing Pandas and NumPy, and checking the version.

In [1]:
import pandas as pd
import numpy as np

# Check the version of Pandas
print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")

Pandas version: 2.3.3
NumPy version: 2.3.5

## 2. Understanding Pandas Data Structures

Pandas has two main data structures:

### Series
A one-dimensional labeled array that can hold any data type.

### DataFrame
A two-dimensional labeled data structure with columns that can have different data types. It's like a table or spreadsheet.

In [ ]:
# Create a Series
series = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print("Series:")
print(series)
print(f"\nSeries shape: {series.shape}")
print(f"Series dtype: {series.dtype}")

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 55000],
    'Department': ['HR', 'IT', 'Finance', 'IT']
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)
print(f"\nDataFrame shape: {df.shape}")
print(f"\nDataFrame info:")
print(df.info())

## 3. Creating DataFrames

There are multiple ways to create DataFrames in Pandas.

In [ ]:
# Method 1: From a dictionary
df_dict = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
print("From dictionary:")
print(df_dict)

# Method 2: From a list of lists
df_list = pd.DataFrame(
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    columns=['X', 'Y', 'Z']
)
print("\nFrom list of lists:")
print(df_list)

# Method 3: From a NumPy array
df_numpy = pd.DataFrame(
    np.random.randn(3, 4),
    columns=['col1', 'col2', 'col3', 'col4']
)
print("\nFrom NumPy array:")
print(df_numpy)

# Method 4: From a CSV file (example path)
# df_csv = pd.read_csv('data.csv')

## 4. Accessing Data

Learn various ways to access and select data from DataFrames.

In [ ]:
# Using the employee data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 55000],
    'Department': ['HR', 'IT', 'Finance', 'IT']
}
df = pd.DataFrame(data)

# Access a single column (returns Series)
print("Single column (Name):")
print(df['Name'])

# Access multiple columns
print("\nMultiple columns (Name, Age):")
print(df[['Name', 'Age']])

# Access by row using iloc (integer location)
print("\nFirst row using iloc:")
print(df.iloc[0])

# Access by row using loc (label-based)
print("\nRow at index 1 using loc:")
print(df.loc[1])

# Access specific element
print("\nElement at row 2, column 'Salary':")
print(df.loc[2, 'Salary'])

# Access first few rows
print("\nFirst 2 rows:")
print(df.head(2))

# Access last few rows
print("\nLast 2 rows:")
print(df.tail(2))

## 5. Data Filtering and Selection

Filter data based on conditions.

In [ ]:
# Using the employee data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 55000],
    'Department': ['HR', 'IT', 'Finance', 'IT']
}
df = pd.DataFrame(data)

# Filter: Age greater than 28
print("Employees with age > 28:")
print(df[df['Age'] > 28])

# Filter: Department is 'IT'
print("\nEmployees in IT department:")
print(df[df['Department'] == 'IT'])

# Filter: Multiple conditions (Age > 25 AND Salary > 55000)
print("\nEmployees with Age > 25 AND Salary > 55000:")
print(df[(df['Age'] > 25) & (df['Salary'] > 55000)])

# Filter: Using isin() for multiple values
print("\nEmployees in HR or Finance department:")
print(df[df['Department'].isin(['HR', 'Finance'])])

## 6. Data Manipulation

Learn how to add, modify, and delete columns.

In [ ]:
# Using the employee data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 55000]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Add a new column
df['Bonus'] = df['Salary'] * 0.1
print("\nAfter adding Bonus column:")
print(df)

# Modify a column
df['Salary'] = df['Salary'] * 1.05  # 5% raise
print("\nAfter 5% salary increase:")
print(df)

# Delete a column
df_copy = df.copy()
df_copy = df_copy.drop('Bonus', axis=1)
print("\nAfter dropping Bonus column:")
print(df_copy)

# Rename columns
df_renamed = df.rename(columns={'Salary': 'Annual_Salary', 'Age': 'Years_Old'})
print("\nAfter renaming columns:")
print(df_renamed)

## 7. Statistical Operations

Compute statistics and aggregate functions on DataFrames.

In [ ]:
# Using the employee data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 55000]
}
df = pd.DataFrame(data)

# Basic statistics
print("Describe (summary statistics):")
print(df.describe())

# Specific statistics
print(f"\nMean Age: {df['Age'].mean()}")
print(f"Median Age: {df['Age'].median()}")
print(f"Std Dev of Age: {df['Age'].std()}")
print(f"Min Salary: {df['Salary'].min()}")
print(f"Max Salary: {df['Salary'].max()}")
print(f"Sum of Salaries: {df['Salary'].sum()}")
print(f"Count of records: {len(df)}")

## 8. Grouping and Aggregation

Group data by one or more columns and perform aggregations.

In [ ]:
# Create a larger dataset
data = {
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank'],
    'Salary': [50000, 60000, 75000, 65000, 52000, 80000],
    'Years': [2, 5, 7, 3, 1, 10]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Group by Department and get mean salary
print("\nAverage Salary by Department:")
print(df.groupby('Department')['Salary'].mean())

# Group by Department and get multiple aggregations
print("\nMultiple aggregations by Department:")
print(df.groupby('Department').agg({
    'Salary': ['mean', 'sum', 'count'],
    'Years': 'mean'
}))

# Group by Department and count employees
print("\nEmployee count by Department:")
print(df.groupby('Department').size())

## 9. Sorting

Sort DataFrames by one or more columns.

In [ ]:
# Create sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 55000]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Sort by Age (ascending)
print("\nSorted by Age (ascending):")
print(df.sort_values('Age'))

# Sort by Salary (descending)
print("\nSorted by Salary (descending):")
print(df.sort_values('Salary', ascending=False))

# Sort by multiple columns
print("\nSorted by Age then Salary:")
print(df.sort_values(['Age', 'Salary'], ascending=[True, False]))

# Sort by index
print("\nSorted by index (descending):")
print(df.sort_index(ascending=False))

## 10. Handling Missing Data

Detect and handle missing values in DataFrames.

In [ ]:
# Create data with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, np.nan, 35, 28],
    'Salary': [50000, 60000, np.nan, 55000]
}
df = pd.DataFrame(data)

print("DataFrame with missing values:")
print(df)

# Check for missing values
print("\nMissing values:")
print(df.isnull())

# Count missing values
print("\nCount of missing values:")
print(df.isnull().sum())

# Drop rows with missing values
print("\nAfter dropping rows with missing values:")
print(df.dropna())

# Fill missing values
print("\nAfter filling missing values with mean:")
df_filled = df.copy()
df_filled['Age'].fillna(df_filled['Age'].mean(), inplace=True)
df_filled['Salary'].fillna(df_filled['Salary'].mean(), inplace=True)
print(df_filled)

# Forward fill
print("\nForward fill:")
print(df.fillna(method='ffill'))

## 11. Joining and Merging DataFrames

Combine multiple DataFrames using joins and merges.

In [ ]:
# Create two DataFrames
df1 = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Department': ['HR', 'IT', 'Finance', 'IT']
})

df2 = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 5],
    'Salary': [50000, 60000, 75000, 80000]
})

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

# Inner join (default)
print("\nInner Join:")
print(pd.merge(df1, df2, on='EmployeeID', how='inner'))

# Left join
print("\nLeft Join:")
print(pd.merge(df1, df2, on='EmployeeID', how='left'))

# Right join
print("\nRight Join:")
print(pd.merge(df1, df2, on='EmployeeID', how='right'))

# Outer join
print("\nOuter Join:")
print(pd.merge(df1, df2, on='EmployeeID', how='outer'))

# Concatenate vertically
df3 = pd.DataFrame({
    'EmployeeID': [5],
    'Name': ['Eve'],
    'Department': ['HR']
})
print("\nConcatenate vertically:")
print(pd.concat([df1, df3], ignore_index=True))

## 12. Reading and Writing Data

Read from and write to different file formats.

In [ ]:
# Create sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 55000]
}
df = pd.DataFrame(data)

# Write to CSV (uncomment to use)
# df.to_csv('employees.csv', index=False)

# Read from CSV (uncomment to use)
# df_read = pd.read_csv('employees.csv')

# Write to Excel (requires openpyxl)
# df.to_excel('employees.xlsx', index=False)

# Read from Excel
# df_excel = pd.read_excel('employees.xlsx')

# Write to JSON
# df.to_json('employees.json')

# Read from JSON
# df_json = pd.read_json('employees.json')

print("Common file operations (uncomment to use):")
print("- CSV: df.to_csv(), pd.read_csv()")
print("- Excel: df.to_excel(), pd.read_excel()")
print("- JSON: df.to_json(), pd.read_json()")
print("- SQL: df.to_sql(), pd.read_sql()")